div(class="summoner-wrapper")
    img(
        class="summoner-icon" 
        src="ddragon.leagueoflegends.com/cdn/9.2.1/img/profileicon/" + #{summoner.profileIconId} + ".png")
    p(class="summoner-level") #{summoner.summonerLevel}
    p(class="summoner-name") #{summoner.summonerName}